@import '../sass/main.scss';

.beers-page {
	background-color: var(--color-white);
	min-height: 100vh;

	&__header {
		font-size: var(--font-size-xl);
		font-weight: 700;
		clip-path: polygon(0 0, 100% 0%, 100% 64%, 0% 100%);
		background-image: linear-gradient(
			to right,
			#7b69b5,
			#776fb6,
			#7474b7,
			#7279b7,
			#7386b5,
			#788eb1
		);
		color: var(--color-primary);
		padding-top: 2rem;
		padding-bottom: 4rem;
	}

	&__container {
		padding: 2rem;
		margin: 2rem 10rem;

		@include respond(phone) {
			margin: 2rem;
		}
	}
}
