@import '../../sass/main.scss';

.beers-page {
	background-color: var(--color-white);
	min-height: 100vh;

	&__header {
		font-size: var(--font-size-xl);
		font-weight: 700;
		clip-path: polygon(0 0, 100% 0%, 100% 64%, 0% 100%);
		background-image: var(--background-gradient);
		color: var(--color-primary);
		padding-top: 2rem;
		padding-bottom: 4rem;

		@include respond(tab-land) {
			clip-path: polygon(0 0, 100% 0%, 100% 74%, 0% 100%);
		}

		@include respond(phone) {
			clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);
		}
	}

	&__container {
		padding: 4rem 10rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include respond(phone) {
			padding: 2rem;
		}
	}
}
